.bg-red-800 {
    background-color: var(--mainColor); 
  }
  
  .bg-red-800.active-fanta {
    background-color:#EF5B0B
  }
  
  .bg-red-800.active-sprite {
    background-color:#00A950 
  }
  

  .bg-red-800.active-fuzetea{
    background-color:#82ca9e
  }
  

  .bg-red-800.active-schweppes {
    background-color:#d1d422
  }

  .bg-red-800.active-ciel {
    background-color:#1099bb
  }


